### Prepping Data Challenge:  Animal Adoption (week 40)

### Requirements
- Input the data
- Remove the duplicated date field
- Filter to only cats and dogs (the other animals have too small a data sample)
- Group up the Outcome Type field into 2 groups:
  - Adopted, Returned to Owner or Transferred
  - Other
- Calculate the % of Total for each Outcome Type Grouping and for each Animal Type
- Output the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Input the data
df = pd.read_csv("wk40-input.csv", parse_dates= ['DateTime','MonthYear','Date of Birth'], dayfirst=True)

In [3]:
df.head(10)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,2019-08-05 18:20:00,2019-08-05 18:20:00,2017-02-05,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,2018-07-18 16:02:00,2018-07-18 16:02:00,2017-12-07,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,2020-08-16 11:38:00,2020-08-16 11:38:00,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,2016-02-13 17:59:00,2016-02-13 17:59:00,2015-08-10,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,2014-03-18 11:47:00,2014-03-18 11:47:00,2014-12-03,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
5,A659412,Princess,2020-05-10 14:37:00,2020-05-10 14:37:00,2013-03-24,Adoption,NaN,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown
6,A814515,Quentin,2020-06-05 07:59:00,2020-06-05 07:59:00,2018-01-03,Adoption,Foster,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown
7,A689724,*Donatello,2014-10-18 18:52:00,2014-10-18 18:52:00,2014-01-08,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
8,A680969,*Zeus,2014-05-08 16:59:00,2014-05-08 16:59:00,2014-03-06,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
9,A684617,NaN,2014-07-27 09:00:00,2014-07-27 09:00:00,2012-07-26,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black

In [4]:
#Remove the duplicated date field
#Filter to only cats and dogs (the other animals have too small a data sample)
df2 = df[(df['Animal Type'] == 'Dog') | (df['Animal Type'] == 'Cat')].drop('MonthYear', axis = 1)

In [5]:
#Group up the Outcome Type field into 2 groups:
df2['Group'] = np.where(df2['Outcome Type'].isin(['Adoption','Transfer','Return to Owner']), 
                       "Adopted, Returnd to Owner or Transferred",
                       'Other')

In [6]:
#Calculate the % of Total for each Outcome Type Grouping and for each Animal Type
output = (pd.crosstab(df2['Animal Type'],df2['Group'], normalize='index')*100).round(1)

In [7]:
output.head()

Group        Adopted, Returnd to Owner or Transferred  Other
Animal Type
Cat                                              93.8    6.2
Dog                                              96.2    3.8

In [8]:
#output the data
output.to_csv('wk40-output.csv', index=False)